<div class="card">
    <div class="card-header">
        Bài báo
    </div>
    {{#if this.empty}}
    <div class="card-body">
        <p class="card-text">Không có dữ liệu</p>
    </div>
    {{else}}
    <div class="card-body">
        <div class="row">
            {{#each this.products}}
            <div class="col-sm-6 mb-3">
                <div class="card h-100">
                    <img src="/static/imgs/sp/{{ProID}}/main.jpg" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ProName}}</h4>
                        <h4 class="card-title text-danger">Chuyên mục: {{CatID}}</h4>
                        <p class="card-text">{{TinyDes}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-sm btn-outline-primary" href="/products/detail?id={{ProID}}" role="button">
                            <i class="bi bi-eye-fill"></i>
                            Nội dung chi tiết
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Trang trước</a>
            </li>
            {{#each this.page_items}}
            {{#if isActive}}
                <li class="page-item active">
                    <a class="page-link" href="#">{{value}}</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/products/byCat?id={{../catId}}&page={{value}}">{{value}}</a>
                </li>
            {{/if}}
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="#">Trang sau</a>
            </li>
        </ul>
    </div>
    {{/if}}
    <div class="card-footer text-muted">
    </div>
</div>