{{#fillHtmlContent 'css'}}
{{/fillHtmlContent}}
{{#fillHtmlContent 'js'}}
{{/fillHtmlContent}}

<form action="" method="post">
    <div class="card">
        <div class="card-header">
            Xem xét bài báo
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên bài báo</th>
                        <th>&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.products}}
                        {{#if (eq Price 1)}}
                            <tr>
                                <td scope="row">{{ProID}}</td>
                                <td>{{ProName}}</td>
                                <td>{{TinyDes}}</td>
                                <td>
                                    <a name="" id="" class="btn btn-primary" href="/products/detail?id={{ProID}}" role="button">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                {{!-- <td>{{Price}}</td>    
                                <td>{{CatID}}</td>
                                <td>{{Quantity}}</td> --}}
                            </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{!-- <div class="form-group">
              <input type="hidden" name="Price" id="txtPrice" class="form-control" value="0">
            </div> --}}
        </div>
        <div class="card-footer">
            The End
            {{!-- <a name="" id="" class="btn btn-primary" href="/admin/products" role="button">
                <i class="bi bi-arrow-left-circle"></i>
                Danh sách
            </a> --}}
            {{!-- <button type="submit" class="btn btn-danger" formaction="/admin/products/del">
                <i class="bi bi-trash"></i>
                Xóa
            </button> --}}
            {{!-- <button type="submit" class="btn btn-primary" formaction="/admin/products/up">
                <i class="bi bi-check2"></i>
                Đăng
            </button> --}}
        </div>
    </div>
</form>