{{#if auth}}
<form action="" method="post">
    <div class="card">
        <h4 class="card-header">
            <div class="form-group">
              <input type="hidden" name="ProID" id="txtProID" class="form-control" placeholder="" value="{{this.product.ProID}}" readonly>
            </div>
            {{this.product.ProName}}
        </h4>
        <div class="card-body">
            {{!-- <img src="/static/imgs/sp/{{this.product.ProID}}/main.jpg" alt="{{this.product.ProName}}" title="{{this.product.ProName}}"> --}}
            <p class="card-text">
                Nội dung tóm tắt: <span class="card-text">{{this.product.TinyDes}}</span>
            </p>
            {{!-- <p class="card-text">
                Chuyên mục: {{this.product.CatID}}
            </p> --}}
            {{#if (eq this.product.CatID 1)}}
            <p class="card-text">
                Chuyên mục: Nông sản
            </p>
            {{/if}}
            {{#if (eq this.product.CatID 2)}}
            <p class="card-text">
                Chuyên mục: Hải sản
            </p>
            {{/if}}
            <h5>
                Nội dung đầy đủ
            </h5>
            <p class="card-text">
                <div class="fulldes-content">
                    {{{this.product.FullDes}}}
                </div>
            </p>
            {{#if (or (eq authUser.permission 0) (eq authUser.permission 2))}}
            {{!-- {{#if (and (or (eq authUser.permission 0) (eq authUser.permission 2)) (eq price 1))}} --}}
            <div class="form-group">
              <label for="txtFullDes">Lý do từ chối: </label>
              <input type="text" name="FullDes" id="txtFullDes" class="form-control" placeholder="Thiếu thông tin">
            </div>
            {{/if}}
            <div class="form-group">
              <input type="hidden" name="Quantity" id="randomNumber" class="form-control">
            </div>
        </div>
        <div class="card-footer text-muted">
            <a name="" id="" class="btn btn-primary" href="/products/byCat?id=1" role="button">
                <i class="bi bi-arrow-left-circle"></i>
                Danh sách
            </a>
            <button type="submit" class="btn btn-primary" formaction="/products/tym">
                <i class="bi bi-heart-fill"></i>
                Tym
            </button>
            {{#if (eq authUser.permission 0)}}
            <button type="submit" class="btn btn-danger" formaction="/products/del">
                <i class="bi bi-trash-fill"></i>
                Xóa
            </button>
            {{/if}}
            {{#if (or (eq authUser.permission 0) (eq authUser.permission 2))}}
            <button type="submit" class="btn btn-danger" formaction="/products/upp">
                <i class="bi bi-x-lg"></i>
                Từ chối
            </button>
            {{/if}}
            {{#if (or (eq this.product.Price 1) (eq this.product.Price 2))}}
            {{#if (or (eq authUser.permission 0) (eq authUser.permission 2))}}
            <button type="submit" class="btn btn-primary" formaction="/products/up">
                <i class="bi bi-check2"></i>
                Đăng
            </button>
            {{/if}}
            {{/if}}
        </div>
    </div>
</form>
{{else}}
<div class="jumbotron">
    <h1 class="display-3">403</h1>
    <p class="lead">Hãy đăng nhập để xem nội dung chi tiết về bài báo</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Trang chủ</a>
    </p>
</div>
{{/if}}
<style>
.card-text img, .fulldes-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
</style>
<script>
    function generateRandomNumber() {
    const randomNumber = Math.floor(Math.random() * 100) + 1;

    document.getElementById('randomNumber').value = randomNumber;
  }

  generateRandomNumber();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const cardText = document.querySelector('.card-text');
        if (cardText) {
            const images = cardText.querySelectorAll('img');
            images.forEach(img => {
                img.style.maxWidth = "100%";
                img.style.height = "auto";
            });
        }
    });
</script>